* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Inter", sans-serif;
}

html {
    font-size: 62.5%;
}

:root {
    --bg-color-pagina: #141414;
    --bg-color-botao: #FE6A0F;
    --color-fonts: #FFFFFF;
    --bg-color-pesquisa: #1F1F1F;
    --bg-color-carrinho-item: #2B2B2B;
    --color-ul: #aaa;
    --color-lupa: #ccc;
}

header {
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 80px;
    padding: 30px 0px;
    font-size: 1.5rem;
    color: var(--color-fonts);
    background-color: var(--bg-color-pagina);
}

.log {
    font-size: 1.8rem;
}

.menu ul {
    display: flex;
    gap: 40px;
    font-size: 1.8rem;
    list-style: none;
    color: var(--color-ul);
}

.menu a {
    text-decoration: none;
    color: var(--color-fonts);
}

.botao a {
    color: var(--color-fonts);
    text-decoration: none;
    padding: 12px;
    border: 1px solid var(--color-fonts);
    border-radius: 6px;
}

.menu_span span {
    display: grid;
    margin: 5px;
    width: 25px;
    height: 2.2px;
    background-color: var(--color-fonts);
}



.propaganda {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 60px 40px;
    background-color: var(--bg-color-pagina);
    color: var(--color-fonts)
}

.textos {
    display: flex;
    flex-direction: column;
    gap: 30px;
}

.titulo h1 {
    font-size: 4rem;
}

.descricao p {
    display: block;
    font-size: 1.5rem;
    color: var(--color-ul);
}

.bt a {
    color: var(--color-fonts);
    text-decoration: none;
    padding: 12px;
    border: 1px solid var(--color-fonts);
    border-radius: 6px;
    font-size: 1.6rem;
    background-color: var(--bg-color-botao);
    border: none;
    padding: 10px 50px;
}

.imagem_burger img {
    width: 300px;
}

.pesquisa {
    display: flex;
    justify-content: space-around;
    align-items: center;
    text-align: center;
    padding: 60px 0px;
    background-color: var(--bg-color-pesquisa);
    color: var(--color-fonts);
}

.n1 {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 40px;
}


.lupa a {
    background-color: var(--bg-color-carrinho-item);
    color: var(--color-lupa);
    padding: 20px 30px;
    text-decoration: none;
    font-size: 1.3rem;
    border-radius: 6px;
}

.lupa i {
    margin-right: 10px;
}

.n2 {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 30px;
    text-align: center;
}

.n2 select {
    background-color: var(--bg-color-carrinho-item);
    color: var(--color-lupa);
    text-decoration: none;
    font-size: 1.6rem;
    border-radius: 6px;
    padding: 20px 30px;
}


/* Area dos produtos */
main {
    background-color: var(--bg-color-pagina);
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.produtos_grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 40px;
    margin: 40px 0px;
}

.produtos_item {
    display: block;
    border-radius: 8px;
    overflow: hidden;
    text-decoration: none;
    position: relative;
}

.produtos_item:hover {
    opacity: 0.8;
}

.produtos_item .aviso {
    position: absolute;
    top: 30px;
    left: 30px;
    background-color: var(--bg-color-botao);
    color: var(--color-fonts);
    font-size: 1.6rem;
    padding: 10px 15px;
    border-radius: 4px;
}

.produtos_item .foto {
    text-align: center;
    background-color: var(--bg-color-carrinho-item);
    padding: 0px 40px;
    padding-top: 30px;
}

.produtos_item .foto img {
    max-width: 100%;
}

.produtos_item .informacoes {
    background-color: var(--bg-color-pesquisa);
    padding: 60px 30px 30px 30px;
    margin-top: -50px;
}

.produtos_item .produto_categoria {
    color: var(--color-fonts);
    font-size: 1.8rem;
}

.produtos_item .produto_nome {
    font-family: 'Calistoga';
    font-size: 3.2rem;
    color: var(--color-fonts);
    margin: 10px 0px;
    font-weight: bold;
}

.produtos_grid .produto_preco {
    color: var(--bg-color-botao);
    text-decoration: none;
    font-weight: bold;
    font-size: 1.9rem;
}

footer {
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: var(--bg-color-carrinho-item);
    color: var(--color-fonts);
    height: 60px;
}

footer .titulo {
    font-size: 2rem;
    font-weight: bold;
}

footer .feito_por {
    font-size: 1.4rem;
    color: var(--color-ul);
}

/* Responsividade */


@media (width > 599px) {
    .menu_span {
        display: none;
    }
}


@media (width < 600px) {

    .menu,
    .botao {
        display: none;
    }

    .pesquisa {
        flex-direction: column;
    }
}

@media (width < 767px) {
    .propaganda {
        flex-direction: column;
        text-align: center;
        gap: 60px;
    }
}

@media (width < 1024px) {
    .produtos_grid {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media (max-width: 770px) {
    .produtos_grid {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media (max-width: 689px) {
    .produtos_grid {
        grid-template-columns: repeat(1, 1fr);
    }
}

@media (max-width: 425px) {
    footer {
        flex-direction: column;
    }
}